<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Report Service</title>
</head>
<body>
    <h2>Welcome to the report service</h2>
    <p>
        To access a report please use the following URLS:<br/>
        <a href = "./report/">./report/&lt;id&gt;/</a><br/>
        Where &lt;id&gt; is replaced with the id of the report to view. By default reports will be returned as XML for PDF please use:</br>
        <a href = "./report/">./report/&lt;id&gt;/&PDF</a><br/>
    </p>
</body>
</html>